@import '../../../styles/colors.scss';

.note {
    display: flex;
    flex-direction: column;
    height: 100%;
    &__form {
        flex: 1;
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        &__heading {
            display: flex;
            justify-content: space-between;
            &-input {
                border: none;
                font-size: 1.1em;
                font-weight: 500;
                padding-bottom: 1em;
                outline: none;
                flex: 1;
            }
            &-icon {
                display: block;
                cursor: pointer;
                color: lighten($color: $gray, $amount: 10);
                position: relative;
                &:hover::after {
                    content: 'Pin Note';
                    font-size: 0.5em;
                    position: absolute;
                    padding: 0.3em;
                    border-radius: 0.3em;
                    background-color: darken($color: $gray, $amount: 45);
                    color: $white;
                    top: 3.2em;
                    left: -2.5em;
                    width: 6em;
                }
                &-pinned {
                    color: darken($color: $gray, $amount: 25);
                    &:hover::after {
                        content: 'Unpin Note';
                        font-size: 0.5em;
                        position: absolute;
                        padding: 0.3em;
                        border-radius: 0.3em;
                        background-color: darken($color: $gray, $amount: 45);
                        color: $white;
                        top: 3.2em;
                        left: -2.5em;
                        width: 6em;
                    }
                }
            }
        }
        &-textarea {
            outline: none;
            resize: none;
            min-height: 2em;
            border: none;
            font-size: 1em;
            flex: 1;
        }
    }
    &__buttons {
        display: flex;
        flex-direction: row-reverse;
    }
}