@import '../../../styles/colors.scss';

.note {
    margin-bottom: 1.5em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    &__card {
        min-width: 10em;
        max-width: 10em;
        min-height: 5em;
        padding-bottom: 0.5em;
        &-title-container {
            font-size: 1.2em;
            &-wrapper {
                display: flex;
                justify-content: space-between;
                &-title {
                    cursor: default;
                }
                &-pin {
                    display: block;
                    opacity: 0;
                    cursor: pointer;
                    color: lighten($color: $gray, $amount: 10);
                    position: relative;
                    &:hover::after {
                        content: 'Pin Note';
                        font-size: 0.5em;
                        position: absolute;
                        padding: 0.3em;
                        border-radius: 0.3em;
                        background-color: darken($color: $gray, $amount: 45);
                        color: $white;
                        top: 2.5em;
                        left: -1.5em;
                        width: 5em;
                    }
                    &-pinned {
                        color: darken($color: $gray, $amount: 25);
                        &:hover::after {
                            content: 'Unpin Note';
                            font-size: 0.5em;
                            position: absolute;
                            padding: 0.3em;
                            border-radius: 0.3em;
                            background-color: darken($color: $gray, $amount: 45);
                            color: $white;
                            top: 2.5em;
                            left: -1.5em;
                            width: 5em;
                        }
                    }
                }
            }
        }
        &__content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &-desc {
                cursor: default;
            }
            &-labels {
                padding-top: 1.3em;
                &-label {
                    padding: 0.2em;
                    border: 1px solid $black;
                    border-radius: 0.3em;
                }
            }
        }
        &-footer {
            cursor: pointer;
            display: flex;
            flex-direction: row-reverse;
            opacity: 0;
        }
    }
}

.note:hover {
    .note {
        &__card {
            &-title-container {
                &-wrapper {
                    &-pin {
                        opacity: 1;
                    }
                }
            }
            &-footer {
                opacity: 1;
            }
        }
    }
}