<div class="note" [ngClass]="{'hide': hideNote}" tabindex="0" (keyup.enter)="onNoteClicked($event)">
    <mat-card class="note__card" (click)="onNoteClicked($event)">
        <mat-card-title class="note__card-title-container">
            <div class="note__card-title-container-wrapper">
                <div class="note__card-title-container-wrapper-title">{{note.title}}</div>
                <span class="note__card-title-container-wrapper-pin mat-icon" tabindex="0" [ngClass]="{'note__card-title-container-wrapper-pin-pinned': note.pinned}" (keyup.enter)="onPinClicked(note.id, note.pinned)">
                    <mat-icon (click)="onPinClicked(note.id, note.pinned)" aria-hidden="false" [attr.aria-label]="note.pinned ? 'Unpin': 'Pin'">push_pin</mat-icon>
                </span>
            </div>
        </mat-card-title>
        <mat-card-content [ngClass]="{'note__card__content-container': !isEmptyNote}">
            <div class="note__card__content" *ngIf="isEmptyNote">
                <div class="note__card__content-desc">{{note.description}}</div>
                <div class="note__card__content-labels">
                    <span class="note__card__content-labels-label" tabindex="0" *ngFor="let label of note.labels">
                        <span [attr.aria-label]="label.name">{{label.name}}</span>
                        <span (click)="removeLabel($event, label)" tabindex="0" role="button" aria-label="Remove tag">x</span>
                    </span>
                </div>
            </div>
            <div class="note__card__empty-content" *ngIf="!note.description.length && !note.title.length">
                Empty Note
            </div>
        </mat-card-content>
        <mat-card-actions class="note__card-footer">
            <div class="note__card-footer__container">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="More options">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="deleteNote()">Delete Note</button>
                    <button mat-menu-item (click)="addLabel()">Add Label</button>
                    <button mat-menu-item (click)="makeCopy()">Make a copy</button>
                </mat-menu>
            </div>
        </mat-card-actions>
    </mat-card>
</div>