.container {
    height: 100%;
    .logos {
        display: flex;
        justify-content: center;
        align-items: center;
        &__logo {
            max-height: 2.5em;
            padding: 1em;
        }
    }
    .create-note {
        display: flex;
        justify-content: center;
    }
    .notes {
        display: flex;
        justify-content: start;
        padding: 1.5em;
    }
}