@import '../../styles/colors.scss';
.notes {
    display: flex;
    flex-wrap: wrap;
}
.note {
    padding: 1.5em 1.5em;
    &__card {
        min-width: 10em;
        max-width: 10em;
        min-height: 5em;
        padding-bottom: 0.5em;
        &-title-container {
            font-size: 1.2em;
            &-wrapper {
                display: flex;
                justify-content: space-between;
                &-title {
                    cursor: default;
                }
                &-pin {
                    display: none;
                }
            }
        }
        &__content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &-desc {
                cursor: default;
            }
            &-labels {
                padding-top: 1.3em;
                &-label {
                    padding: 0.2em;
                    border: 1px solid $black;
                    border-radius: 0.3em;
                }
            }
        }
        &-footer {
            display: none;
        }
    }
}

.note:hover {
    .note {
        &__card {
            &-title-container {
                &-wrapper {
                    &-pin {
                        display: block;
                        cursor: pointer;
                        color: lighten($color: $gray, $amount: 10)
                    }
                }
            }
            &-footer {
                cursor: pointer;
                display: flex;
                flex-direction: row-reverse;
            }
        }
    }
}