<div class="container">
    <div *ngIf="notes.pinned.length" class="pinned">
        <p class="label">Pinned</p>
        <div class="notes">
            <div *ngFor="let note of notes.pinned">
                <app-note [note]="note"></app-note>
            </div>
        </div>
    </div>
    <div *ngIf="notes.other.length">
        <p class="label" *ngIf="notes.pinned.length">Other</p>
        <div class="notes">
            <div *ngFor="let note of notes.other">
                <app-note [note]="note"></app-note>
            </div>
        </div>
    </div>
</div>
