.container {
    padding: 0 1em;
}
.pinned {
    padding-bottom: 2em;
}
.label {
   margin: 0;
   padding: 0 2em;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 0.7em;
}
.notes {
    display: flex;
    flex-wrap: wrap;
}