<div class="notes">
    <div [@slideInOut] *ngFor="let note of notes$ | async" class="note">
        <mat-card class="note__card">
            <mat-card-title class="note__card-title">{{note.title}}</mat-card-title>
            <mat-card-content>
                <div class="note__card__content">
                    <div class="note__card__content-desc">{{note.description}}</div>
                    <div class="note__card__content-labels" *ngFor="let label of note.labels">
                        <span class="note__card__content-labels-label">{{label.name}}</span>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions class="note__card-footer">
                <div class="note__card-footer__container">
                    <mat-icon aria-hidden="false" aria-label="More" title="More" [matMenuTriggerFor]="menu">more_vert</mat-icon>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="deleteNote(note.id)">Delete Note</button>
                        <button mat-menu-item>Add Label</button>
                    </mat-menu>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
