<div class="label">
    <div class="label__heading">Label note</div>
    <mat-form-field appearance="standard">
        <input matInput type="text" [(ngModel)]="searchValue" (keyup)="onSearchValueChange()" placeholder="Enter label name">
        <mat-icon matSuffix aria-label="Search">search</mat-icon>
    </mat-form-field>
    <div class="label__labels" *ngFor="let label of labels">
        <mat-checkbox (click)="onChecked(label)" [checked]="isChecked(label)">{{label.name}}</mat-checkbox>
    </div>
    <div class="label__buttons" *ngIf="labels.length">
        <button mat-raised-button color="primary" (click)="updateNote()">Save</button>
    </div>
</div>
<div mat-dialog-actions class="actions" *ngIf="!labels.length" (click)="addNewLabel()">
    <mat-icon class="actions__icon">add</mat-icon>
    <span class="actions__text">Create '{{searchValue}}'</span>
</div>
